/* Write your CSS here */
.bg {
  background-color: #1e293b;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: Bree Serif;
  font-weight: bold;
  font-size: 70px;
}
.para {
  color: white;
  font-family: Bree Serif;
  font-weight: bold;
  font-size: 30px;
}
.button {
  background-color: white;
  color: black;
  height: 30px;
  width: 100px;
  border-radius: 7px;
}
